<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC Barcelona - Current Tour</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<!-- Имеет 1 параграф с подстрокой 'Hello World!' -->

<body>
  <header class="header">
    <div class="container">
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="client">
        <span class="client__text">
          Lorem ipsum dolor sit amet Hello World!
        </span>

        <p class="client__text">
          Hello World! Lorem ipsum dolor sit amet
        </p>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
    </div>
  </footer>
</body>

</html>
