<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC Barcelona - Client Account</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<!-- Имеет 6 параграфов с подстрокой 'Hello World!' -->

<body>
  <header class="header">
    <div class="container">
      <div class="header__block">
        <p class="header__paragraph">
          Hello World!
        </p>

        <span class="header__text">
          Hello World!
        </span>

        <span class="header__text">
          Hello World!
        </span>
      </div>

      <div class="header__block">
        <p class="header__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste delectus tenetur, iusto repudiandae
          quia magnam ad temporibus sint saepe ratione dolore nam, aliquid veniam. Sed quasi harum obcaecati
          laudantium - Hello World! - expedita.
        </p>

        <p class="header__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste delectus tenetur, iusto repudiandae
          quia magnam ad temporibus sint saepe ratione dolore nam, aliquid veniam. Sed quasi harum obcaecati
          laudantium expedita.
        </p>

        <p class="header__paragraph">
          Hello World!
        </p>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="client">
        <span class="client__text">
          Lorem ipsum dolor sit amet Hello World!
        </span>

        <p class="client__text">
          Hello World! Lorem ipsum dolor sit amet
        </p>
      </section>

      <section class="history">
        <p class="history__text">
          Hello World! Lorem ipsum dolor sit amet
        </p>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="footer__block">
        <p class="footer__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste delectus tenetur, iusto repudiandae
          quia magnam ad temporibus sint saepe ratione dolore nam, aliquid veniam. Sed quasi harum obcaecati
          laudantium - Hello World! - expedita.
        </p>

        <p class="footer__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste delectus tenetur, iusto repudiandae
          quia magnam ad temporibus sint saepe ratione dolore nam, aliquid veniam. Sed quasi harum obcaecati
          laudantium expedita.
        </p>

        <span class="footer__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste delectus tenetur, iusto repudiandae
          quia magnam ad temporibus sint saepe ratione dolore nam, aliquid veniam. Sed quasi harum obcaecati
          laudantium - Hello World! - expedita.
        </span>

        <span class="footer__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste delectus tenetur, iusto repudiandae
          quia magnam ad temporibus sint saepe ratione dolore nam, aliquid veniam. Sed quasi harum obcaecati
          laudantium expedita.
        </span>
      </div>
    </div>
  </footer>
</body>

</html>
