<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC Barcelona - Museum</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<!-- Имеет 1 параграф с подстрокой 'Hello World!' -->

<body>
  <header class="header">
    <div class="container">
      <div class="header__block">
        <p class="header__paragraph">
          Lorem, ipsum dolor - Hello World! - sit amet consectetur adipisicing elit.
        </p>

        <p class="header__paragraph">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="museum">
        <span class="museum__paragraph">
          Lorem, ipsum dolor - Hello World! - sit amet consectetur adipisicing elit.
        </span>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="footer__block">
        <p class="footer__paragraph">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </footer>
</body>

</html>
