<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC Barcelona - Payment Service</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<!-- Имеет 4 параграфа с подстрокой 'Hello World!' -->

<body>
  <header class="header">
    <div class="container">
      <div class="header__block">
        <p class="header__paragraph">
          Lorem - Hello World! - ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>

      <div class="header__block">
        <p class="header__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="payment">
        <p class="payment__paragraph">
          Lorem - Hello World! - ipsum dolor sit amet consectetur adipisicing elit.
        </p>

        <span class="payment__paragraph">
          Lorem - Hello World! - ipsum dolor sit amet consectetur adipisicing elit.
        </span>
      </section>

      <section class="bank-service">
        <p class="bank-service__paragraph">
          Lorem - Hello ipsum World! - ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="footer__block">
        <p class="footer__paragraph">
          Lorem - Hello World! - ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>

      <div class="footer__block">
        <p class="footer__paragraph">
          Lorem - Hello World! - ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </footer>
</body>

</html>
