<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FC Barcelona - Ticket Service</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<!-- Имеет 2 параграфа с подстрокой 'Hello World!' -->

<body>
  <header class="header">
    <div class="container">
      <div class="header__block">
        <span class="header__text">
          Hello World!
        </span>

        <p class="header__paragraph">
          Hello Worl
        </p>
      </div>
    </div>
  </header>

  <main class="main">
    <div class="container">
      <section class="ticket">
        <p class="header__text">
          Hello World!
        </p>

        <p class="header__text">
          Hello World! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </section>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <div class="footer_block">
        <p class="footer__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sint magni recusandae.
        </p>
      </div>
    </div>
  </footer>
</body>

</html>
